.body {
    display: flex;
}
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
}
.headertext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    color: #E5E7EB;
}
